@media (max-width: 1200px) {
    .main__about-text {
        font-size: 18px;
        margin-bottom: 70px;
    }
    .main__about-title {
        margin-bottom: 30px;
    }
    .main {
        padding: 175px 0 100px;
        background-position: 40% 50%;
    }
    .main__about-wrapper {
        margin-bottom: 50px;
    }
    .main__about-social a i {
        margin-right: 35px;
    }
    .tab__item-description{
        padding-top: 50px;
    }
    .tab__item-description--text {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 20px;
    }
    .tab__item-description--btn{
        width: 240px;
    }
    .projects__title {
        margin-bottom: 70px;
    }
}

@media (max-width: 992px) {
    .main__img{
        text-align: center;
        margin-bottom: 30px;
    }
    .main {
        padding: 155px 0 90px;
        background-position: 34% 50%;
    }
    .main__about-title {
        margin-bottom: 25px;
    }
    .main__about-text {
        margin-bottom: 60px;
    }
    .contact__form input, .contact__form textarea{
        margin-bottom: 25px;
    }
    .main__img img{
        width: 40%;
    }
}

@media (max-width: 767px) {
    .header__navigation-items{
        top: -100%;
        transition: 0.1s ease 0s;
    }
    .header__navigation-items.active{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #FCFAFA;
        flex-direction: column;
        justify-content: end;
        padding: 90px 20px;
        overflow: auto;
        transition: top 0.3s ease 0s;
    }
    .header__navigation-items.active .header__navigation-logo{
        display: none;
    }
    .header__navigation-items li{
        display: none;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .header__navigation-items li a{
        display: block;
        font-size: 25px;
        line-height: 50px
    }
    .header__navigation-items.active.header__navigation-items li{
        display: block;
    }
    .burger__btn{
        display: block;
    }
    .main {
        padding: 125px 0 80px;
        background-position: 37% 50%;
    }
    .main__about-title {
        margin-bottom: 20px;
    }
    .main__about-text {
        margin-bottom: 50px;
        font-size: 15px;
    }
    .main__about-btn--resume{
        margin-bottom: 20px;
    }
    .main__about-wrapper {
        margin-bottom: 40px;
    }
    header {
        padding: 12px 0 12px;
    }
    .nav-item{
        margin-bottom: 10px;
    }
    .for__page .nav{
        margin-bottom: 60px;
    }
    .projects {
        padding: 90px 0 90px;
    }
    .tab__item-description {
        padding-top: 100px;
    }
    .projects__title {
        margin-bottom: 65px;
    }
    .contact {
        padding: 0px 0px 75px;
    }
    .contact__form input, .contact__form textarea {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .tab__item {
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .projects {
        padding: 80px 0;
    }
    .projects__title {
        margin-bottom: 50px;
    }
    .for__page .nav {
        margin-bottom: 40px;
    }
    .projects__title-text {
        font-size: 55px;
        line-height: 60px;
    }
    .projects__title-text::after {
        font-size: 60px;
        line-height: 90px;
        left: -46px;
        top: -12px;
    }
    .for__page .nav-item,
    .for__page .nav-link{
        display: block;
        width: 100% !important;
    }
    .contact__title {
        font-size: 55px;
        line-height: 60px;
    }
    .contact__form-btn{
        width: 100%;
    }
    .contact__inner{
        margin-bottom: 50px;
    }
}

@media (max-width: 420px) {
    .main {
        padding: 95px 0 45px;
        background-position: 40% 50%;
    }
    .main__img {
        margin-bottom: 30px;
    }
    .main__about-title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .main__about-text {
        margin-bottom: 25px;
        font-size: 12px;
        line-height: 20px;
    }
    .main__about-wrapper {
        margin-bottom: 25px;
    }
    .main__about-social a i {
        margin-right: 25px;
    }
    .header__navigation-items {
        justify-content: end;
    }
    .projects {
        padding: 70px 0 85px;
    }
    .projects__title-text {
        font-size: 50px;
        line-height: 55px;
    }
    .projects__title-text::after {
        font-size: 55px;
        line-height: 60px;
        top: -5px;
    }
    .projects__title {
        margin-bottom: 45px;
    }
    .for__page .nav {
        margin-bottom: 35px;
    }
    .tab__item-description {
        padding-top: 70px;
    }
    .for__page .nav-pills .nav-link{
        font-size: 15px;
    }
    .contact__title {
        font-size: 50px;
        line-height: 50px;
    }
    .contact {
        padding: 0px 0px 65px;
    }
    .contact__form input, .contact__form textarea {
        margin-bottom: 15px;
        padding: 10px 10px 10px 65px;
    }
    .contact__form-message::before {
        top: 10px;
    }
    .footer__text {
        font-size: 12px;
        line-height: 12px;
    }
    .main__img img{
        width: auto;
    }
}

@media (max-width: 367px) {
    .main__about-social a i {
        margin-right: 15px;
    }
    .main {
        padding: 95px 0 35px;
        background-position: 39% 50%;
    }
    .projects__title {
        margin-bottom: 40px;
    }
    .projects {
        padding: 60px 0;
    }
    .for__page .nav {
        margin-bottom: 30px;
    }
    .tab__item-description {
        padding-top: 50px;
    }
    .projects__title-text::after {
        font-size: 50px;
        line-height: 55px;
        top: 0px;
        left: -30px;
    }
    .header__navigation-logo{
        width: 220px;
    }
}
